{% set 
list = [
	{
		title: 'Home'
	},
	{
		title: 'Products'
	},
	{
		title: 'Lookbook'
	},
	{
		title: 'Collection'
	}
]
%}
{% set
this_item_slider = [
	{
		src: 'img/item_bag_small_1.png',
		alt: 'small bag'
	},
	{
		src: 'img/item_bag_small_2.png',
		alt: 'small bag'
	}
]
%}

{% set
color_input = [
	{
		forColor: 'colourOne',
		name: 'Blue',
		color: 'background-color: #9fcede'
	},
	{
		forColor: 'colourTwo',
		name: 'Brown',
		color: 'background-color: #333743'
	},
	{
		forColor: 'colourThree',
		name: 'Black',
		color: 'background-color: black'
	},
	{
		forColor: 'colourFour',
		name: 'Aqua',
		color: 'background-color: aqua'
	}
]
%}

{% set
item_offers = [
	{
		src: 'img/item_1.jpg',
		alt: 'Bag',
		name: 'Leather bag',
		category: 'Bag',
		price: '$78'

	},
	{
		src: 'img/item_2.jpg',
		alt: 'Gift box',
		name: 'Gift box colors',
		category: 'Gift',
		price: '$78'

	},
	{
		src: 'img/item_3.jpg',
		alt: 'FLYKNIT',
		name: 'Flyknit Lunar 3',
		category: 'Running shoes',
		price: '$78'

	},
	{
		src: 'img/item_4.jpg',
		alt: 'Wallet',
		name: 'Wallets leather',
		category: 'Accessories',
		price: '$78'

	},
	{
		src: 'img/item_5.jpg',
		alt: 'Shoes',
		name: 'Shoes men',
		category: 'Running shoes',
		price: '$78'

	}
]
 %}